
<%- include("partials/header"); -%>

<h1>bro</h1>

  <%  posts.forEach(function(post){ %>

<%  for(var i=0;i<post.secret.length;i++){ %>
  <% if(searched===post.secret[i].title){%>
    <h1><%=post.secret[i].title%></h1>
    <p>
    <%=post.secret[i].content+ " ..."%>
    <a href="/eachpost/<%=post.secret[i]._id%>">Read More</a>
    </p>
<%}} %>

    <% }) %>

<%- include("partials/footer"); -%>
