
<%- include("partials/header"); -%>
<div class="container" style="">
  <div class="container-fluid ">

  <% var no =0;%>
  <%  posts.forEach(function(post){ %>

<%  for(var i=0;i<post.secret.length;i++){ %>
  <% if(post.secret[i].title.includes(searched)){no++;%>
    <h2>Search results by title</h2>



    <h4 style=""><%=post.secret[i].title%></h4><br>
    <p style="">
    <%=post.secret[i].content.substring(1, 150)+ " ..."%>
    <a href="/eachpost/<%=post.secret[i]._id%>">Read More</a>
    <br>
    <% for(var l=0;l<post.secret[i].tags.length;l++){%>
    <span style="color:white; background:darkblue;"><%=  post.secret[i].tags[l]%></span>
      <% } %>
    </p>
<%}%>
    <% }}) %>
    <%if(no===0){ %>
    <h3 style="">Sorry! No blogs with the searched title!</h3>
      <%} %>
      <% var nope=0;%>
      <%  posts.forEach(function(post){ %>

    <%  for(var i=0;i<post.secret.length;i++){  %>
      <%for(var j=0;j<post.secret[i].tags.length;j++) if(post.secret[i].tags[j].includes(searched)){nope++;%>
        <h2>Search results by tags</h2>
        <h4 style=""><%=post.secret[i].title%></h4>
        <p style="">
        <%=post.secret[i].content.substring(0, 150)+ " ..."%>

  <a href="/eachpost/<%=post.secret[i]._id%>">Read More</a><br>


        <% for(var l=0;l<post.secret[i].tags.length;l++){%>
        <span style="color:white; background:darkblue;"><%=  post.secret[i].tags[l]%></span>
          <% } %>
        </p>
    <%}%>
        <% }}) %>
        <%if(nope===0){ %>
        <h3 style="">Sorry! No blogs with the searched tag!</h3>
          <%} %>
          <!-- <h3>3 Columns</h3>

            <div class="row">

              <div class="col-xs-12 col-sm-4">
                <div class="box">
                  <p>class="col-xs-12 col-sm-4"</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="box">
                  <p>class="col-xs-12 col-sm-4"</p>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="box">
                  <p>class="col-xs-12 col-sm-4"</p>
                </div>
              </div>

            </div> -->





</div></div>
<%- include("partials/footer"); -%>
