<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <h1 class="display-3" style="color:white;">Read these blogs!</h1>

    <% usersWithSecrets.forEach(function(user){ %>

        <% for(var i=0;i<user.secret.length;i++){%>
      <h3 class="secret-text" ><%= user.secret[i].title%></h3><br>
      <p style="color:green;"><%=  user.secret[i].content%></p>
      <% if(user.secret[i].blogImg!=undefined){%>
          <img style=" width:10%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg%>">
<% } %>
      <% if(user.secret[i].blogImg2!=undefined){%>
      <img style=" width:10%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg2%>">
      <% } %>
      <% if(user.secret[i].blogImg3!=undefined){%>
      <img style=" width:10%;" alt="here is it <%=user.secret[i].blogImg%>" src="upload/<%= user.secret[i].blogImg3%>">
      <% } %>
      <% } %>
  <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a blog</a>
  </div>
</div>

<%- include('partials/footer') %>
